.anecdotes-container{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    text-align: left;
    width:100%vh;
    height: 95vh;
    background-color: #E3BA71;
    color:#121212;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
  }

#bust{
    width: 6em;
    height: 10em;
}